3/zad4/zad4.dtd

<?xml version="1.0" encoding="utf-8"?>

<!ELEMENT nauka (rodzaje, rzeczowniki)>
    <!ELEMENT rodzaje (rodzaj, rodzaj, rodzaj)>
        <!ELEMENT rodzaj (#PCDATA)>
            <!ATTLIST rodzaj skrot (m|z|n) #REQUIRED>
    <!ELEMENT rzeczowniki (rzeczownik*)>
        <!ELEMENT rzeczownik (nazwa, synonimy?)>
            <!ELEMENT nazwa (#PCDATA)>
            <!ELEMENT synonimy (#PCDATA)>
            <!ATTLIST rzeczownik rodzaj (m|ż|n) #REQUIRED>